<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Income</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<form action="/change-password/" class="m-3" method="post" >
    {% csrf_token %}
    {% include 'navbar.html' %}
    <br/>
    <label for="pass_1" class="form-label">Enter new password: </label>
    {{ form.password_1 }}
<br/>
    <label for="pass_1" class="form-label">One more time: </label>
    {{ form.password_2 }}
<br/>
    <button type="submit" class="btn btn-primary">CHANGE</button>

    <div id="passwordError" class="form-text text-danger" >{{ error }}</div>

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>