<nav class="navbar navbar-expand-md navbar-dark bg-dark top-0 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Banking system</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transfer">Transfer money</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/convert-money">Convert currency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/write-income">Income</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photo-upload">Change avatar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/change-password">Change password</a>
                </li>
            </ul>
        </div>
        <a class="nav-link" aria-current="page" href="/logout" >
            <button type="submit" class="btn btn-danger" style="width: 100px">Sign out</button>
        </a>
    </div>
</nav>