<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="d-flex justify-content-center bg-light">
<form action="." method="post" class="col-md-4 align-self-center position-absolute top-50 translate-middle-y d-flex flex-column">

    <h2 class="d-flex justify-content-center">Registration form</h2>

    {% csrf_token %}

    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        {{ form.email }}
    </div>

    <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        {{ form.username }}
    </div>

    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        {{ form.password }}
        <div id="passwordError" class="form-text text-danger" >{{ error }}</div>
    </div>

    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>

    <a href="/" class="link-primary">Have an account? Click to login</a>

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>